body {
  margin: 0;
	min-width: 1200px;

	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	color: #0d3351;
	background-color: #f3f3f3;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.container {
	width: 1140px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.main-header {
	padding-top: 30px;
	padding-bottom: 200px;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

.main-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-logo {
	order: 3;
}

.main-nav-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.site-nav {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 445px;
	margin: 0 180px 0 0;
	padding: 0;
}

.user-nav {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 510px;
	margin: 0;
	padding: 0;
}

a[href^="tel:"] {
	font-family: inherit;
	color: inherit;
	font-weight: 700;
}

.telephone-support span {
	font-size: 10px;
	font-weight: 400;
}

.promo {
	position: relative;
}

.promo-section-title {
	margin: 0;
	margin-bottom: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto Slab', Times, serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 400;
}

span.promo-title-big {
	display: inline-block;
	font-size: 100px;
	text-transform: uppercase;
	line-height: 100px;
    margin-top: 35px;
}

.button-wrapper{
	display: flex;
	justify-content: center;
}

.button {
	display: inline-block;
	box-sizing: border-box;
	width: 202px;
	padding: 17px 0 17px 0;
	font: inherit;
	color: #ffffff;
	text-align: center;
	background-color: #33c7fd;
}

.promo::after {
	position: absolute;
	content: "";

    left: 500px;

	background-image: url("img/bg2-line.png");
	width: 163px;
	height: 300px;
}

.catalog {
	padding-top: 115px;
	padding-bottom: 75px;
}

.section-title {
	margin: 0;
	font-family: 'Roboto Slab', Times, serif;
	font-size: 36px;
	line-height: 48px;
	font-weight: 400;
	text-align: center;
}

.catalog-sorting {
	margin: 10px 0 35px 0;
	text-align: center;
}

.catalog-list {
	list-style: none;
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	max-height: 965px;
	min-height: 965px;
}

.catalog-item {
	width: 555px;
	height: 305px;
	background-color: #ffffff;
}

.catalog-item-big {
	width: 555px;
	height: 630px;
	background-color: #ffffff;
}

.catalog-item-wrapper {
	padding-top: 25px;
	padding-left: 55px;
}

.catalog-title-tour {
	margin: 0;
	margin-bottom: 15px;
	font-family: 'Roboto Slab', Times, serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #00a2dd;
}

.tour-description-list {
	margin: 0;
	padding: 0;
	display: flex;
}

.tour-description-title {
	font-weight: 700;
}

.tour-description-text {
	margin: 0;
	margin-left: 5px;
}

.tour-price {
	margin: 0;
	margin-top: 23px;
	font-family: 'Roboto Slab', Times, serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
}

.tour-price-strikeout {
	font-size: 18px;
	line-height: 18px;
	color: #7a8f9f;
	text-decoration: line-through;
	margin-left: 30px;
}

.gallery {
  padding-bottom: 80px;
}

.gallery-list {
	list-style: none;
	margin: 0;
	padding: 40px 0 0 0;
	line-height: 0;
	display: flex;
	flex-wrap: wrap;
}

.feedback {
  padding-bottom: 60px;
}

.feedback-list {
  list-style: none;
	margin: 40px 0 45px 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.feedback-item {
  width: 360px;
  background-color: #ffffff;
}

.feedback-item-wrapper {
	padding-top: 30px;
  padding-right: 45px;
  padding-bottom: 60px;
	padding-left: 38px;
}

.feedback-name {
	margin: 0;
	margin-bottom: 15px;
  padding: 0;
	font-family: 'Roboto Slab', Times, serif;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	color: #00a2dd;
}

.feedback-tour {
  margin: 0;
  margin-bottom: 20px;
  color: #7a8f9f;
}

.feedback-description {
  margin: 0;
}

.main-footer {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #ffffff;

}

.main-footer .container {
  display: flex;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  flex-direction: column;
  width: 570px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}





